.products {
  display: block;
  width: 100%;
  padding: 0;
  margin: 20px 0;

  .productResults {
    display: flex;
    flex-wrap: wrap;
    margin: 30px -10px 0;
  }
  .SearchBar {
    width: 300px;
    display: inline-block;
  }
}

.product {
  width: 33%;
  //height: 450px;
  margin: 0 auto 20px;
  padding: 0 10px;
  // float: left;

  .thumb {
    display: block;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: 300px;
      margin: 0;
      object-fit: cover;
    }
  }

  .filtros {
    display: block;
  }

  .details {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;

    ul,
    ul li {
      padding: 0;
      margin: 0;
    }

    ul {
      li {
        display: block;
        width: 100%;
        list-style-type: none;
        text-align: left;
        margin: 0 0 5px;

        a {
          color: black;
        }

        .name {
          font-size: 25px;
          line-height: 1.2;
          font-weight: 400;
        }

        .price {
          font-size: 16px;
          line-height: 1;
          font-weight: 400;
        }

        .addToCart {
          margin: 20px 0 0 0;
        }
        .noStock {
          margin: 20px 0 0 0;
          background-color: grey;
          display: block;
          width: 100%;
          font-size: 1.8rem;
          line-height: 1;
          font-weight: 300;
          text-transform: uppercase;
          color: white;
          background: grey;
          padding: 1rem;
          text-align: center;

          border: 0;
          outline: none;
        }
      }
    }
  }
}

.grid-container {
  display: grid;
  grid-template-rows: 45px;
  grid-template-columns: 100px 300px 100px;
}

.form-input {
  border: none !important;
  border-bottom: 1px solid #333 !important;
  width: 285px !important;
}
