.productCard{
    max-width: 800px;
    margin: 0 auto 100px;

    .hero{
        display: block;
        width: 100%;
        margin: 20px auto;

        img{
            display: block;
            width: 100%;
            margin: 0;
        }
    }
    .no_stock{
        display: block;
        width: 100%;
        margin: 20px auto;

        img{
            display: block;
            width: 100%;
            margin: 0;
            opacity: 0.4;
    filter: alpha(opacity=40); 
        }
        
        .centered {
            
            text-align: center;
vertical-align: middle;
line-height: 90px;
          }
         
    }

    

    .productDetails{
        ul, ul li{
            margin: 0;
            padding: 0;
        }

        ul li{
            list-style-type: none;
            margin: 0 auto 5px;
        
        
            h1{
                margin: 0;
                padding: 0;
            }
        }

        .addToCart{
            max-width: 200px;
        }
    }

}