.btn{
    display: block;
    width: 100%;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    background: rgb(155, 66, 128);
    padding: 1rem;
    margin-top: 10px;
    border: 0;
    outline: none;
    cursor: pointer;

    
}

button:hover{
    background: rgb(200, 151, 185);
    transition: all .4s ease-in-out;
}

